@font-face {
  font-family: "Lalezar";
  src: url("../fonts/Lalezar-Regular.ttf") format("truetype");
}

body {
  font-family: Lalezar;
  padding: 5px;
}

header ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

header a{
  text-decoration: none;
  color: black
}

ul > li:not(:first-child) {
  display: inline;
  margin-right: 20px;
  margin-bottom: 6px;
  font-size: 25px;
}

header li:last-child {
  background-color: #2ABCA6;
  border-radius: 30px;
  padding: 10px;
}

header li:last-child a{
  color: white;
  display: flex;
}

header li:last-child i{
  color: white;
  padding-top: 2px;
  font-size:30px;
  color:white;
  padding-left: 10px;
}

#imgintro{
  float: left;
}

#tblintro{
  width: 100%;
}

#tblintro td:first-child{
  vertical-align: top;
  padding-right: 100px;
  padding-top: 100px;
  width: 60%;
  font-size: 30px;
  color: #2ABCA6;
}

#tblintro td:first-child > p{
  padding-right: 20px;
  font-size: 30px;
  color: black;
}

section:not(:first-child){
  text-align: center;
  align-items: center;
}

#karia-features-header{
  display: inline;
  font-size: 50px;
  font-weight: 100;
  border: 4px dashed black;
  border-radius: 55px;
  padding: 15px;
}

#karia-features-table{
  width: 70%;
  height: auto;
  margin: 60px auto;
  border-spacing: 30px;
}

#karia-features-table td{
  border-radius: 20px;
  padding: 20px 0px 20px 0px;
  width: 398px;
  transition-timing-function: ease-in-out;
  transition-duration: .5s;
  transition-property: all;
}

#karia-features-table td:hover{
  box-shadow: -5px 5px 40px #E7F7F6;
  transform: scale(1.1);
}

#karia-features-table h3{
  font-weight: 100;
  font-size: 40px;
  color: #269B87;
}

#karia-features-table p{
  font-weight: 100;
  font-size: 30px;
}
