@font-face {
  font-family: "Lalezar";
  src: url("../fonts/Lalezar-Regular.ttf") format("truetype");
}

body {
  font-family: Lalezar;
  padding: 0px;
  margin: 0px;
}

header , main , footer{
  padding: 8px;
}

header ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

header a{
  text-decoration: none;
  color: black;
}

ul > li:not(:first-child) {
  display: inline;
  margin-right: 20px;
  margin-bottom: 6px;
  font-size: 25px;
}

.button {
  text-decoration: none;
  background-color: #2ABCA6;
  color: white;
  border-radius: 30px;
  padding: 10px;
}

header li:last-child a{
  color: white;
  display: flex;
}

header li:last-child i{
  color: white;
  padding-top: 2px;
  font-size:30px;
  color:white;
  padding-left: 10px;
}

table{
  width: 100%;
}

#imgintro{
  float: left;
}

#tblintro td:first-child{
  vertical-align: top;
  padding-right: 100px;
  padding-top: 100px;
  width: 60%;
  font-size: 30px;
  color: #2ABCA6;
}

#tblintro td:first-child > p{
  padding-right: 20px;
  font-size: 30px;
  color: black;
}

section:not(:first-child){
  text-align: center;
  align-items: center;
}

#section-header{
  display: inline;
  font-size: 50px;
  font-weight: 100;
  border: 4px dashed black;
  border-radius: 55px;
  padding: 15px;
}

#tblfeature{
  width: 70%;
  height: auto;
  margin: 60px auto;
  border-spacing: 30px;
}

#tblfeature td{
  border-radius: 20px;
  padding: 20px 0px 20px 0px;
  width: 398px;
  transition-timing-function: ease-in-out;
  transition-duration: .5s;
  transition-property: all;
}

#tblfeature td:hover{
  box-shadow: -5px 5px 40px #E7F7F6;
  transform: scale(1.1);
}

#tblfeature h3{
  font-weight: 100;
  font-size: 40px;
  color: #269B87;
}

#tblfeature p{
  font-weight: 100;
  font-size: 30px;
}

#tblreg{
  text-align: right;
}

#tblreg td:last-child{
  vertical-align: top;
  padding-right: 100px;
  padding-top: 100px;
  width: 60%;
  font-size: 30px;
  color: #2ABCA6;
}

#tblreg td:last-child > p{
  padding-right: 20px;
  font-size: 30px;
  color: black;
}

footer{
  background-color: #269B87;
  color: white;
  padding: 30px 20px 10px 20px;
}

footer i{
  color: white;
  padding-top: 2px;
  font-size:50px;
  padding: 30px 0px 0px 0px;
}

footer td{
  text-align: center;
  vertical-align: top;
  width: 30%;
}

footer h3{
  font-size: 20px;
  font-weight: 100;
  margin-top: 50px;
}

footer p{
  text-align: right;
}

footer h2{
  font-size: 35px;
  font-weight: 100;
  margin: 0px;
}

footer p{
  font-size: 30px;
}
